@media only print {
  @page {
    size: A4 portrait;
    margin: 0;
    padding: 0;
  }

  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    --primary-color: #ffc800;
    --aside-text-color: #424242;
    --main-text-color: #424242;
    --thin-border-gray: 0.1rem solid rgb(211, 211, 211);
    --thin-border-green: 0.1rem solid #015f63;
    --box-shadow-light: 0 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.2),
      0 0.6rem 2rem 0 rgba(0, 0, 0, 0.19);
    --color-white: #fff;
    --main-text-color: #000;
    --main-text-color: #424242;
    --value-0: 0;
    --value-0-25: 0.25rem;
    --value-0-50: 0.5rem;
    --value-0-70: 0.7rem;
    --value-0-75: 0.75rem;
    --value-0-80: 0.8rem;
    --value-0-82: 0.82rem;
    --value-0-85: 0.85rem;
    --value-0-87: 0.87rem;
    --value-0-88: 0.88rem;
    --value-0-90: 0.9rem;
    --value-1: 1rem;
    --value-1-25: 1.25rem;
    --value-1-3: 1.3rem;
    --value-1-4: 1.4rem;
    --value-1-5: 1.5rem;
    --value-1-6: 1.6rem;
    --value-1-75: 1.75rem;
    --value-2: 2rem;
    --value-2-25: 2.25rem;
    --value-2-5: 2.5rem;
    --value-2-75: 2.75rem;
    --value-3: 3rem;
    --value-5: 5rem;
    --header-height: 16rem;
  }
  html {
    font-family: "Open sans", Arial, sans-serif;
    background-color: #fff;
  }

  body {
    margin: 0 auto;
    max-width: 210mm;
    max-height: 297mm;
    width: 210mm;
    height: 297mm;
    border: 1px solid var(--primary-color);
    border-radius: var(--value-0-50);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(12, 1fr);
    color: var(--main-text-color);
  }

  /* Global 
  ----------*/

  p {
    font-size: var(--value-0-82);
  }

  h2 {
    font-size: var(--value-1);
    padding-bottom: var(--value-0-50);
    margin-top: var(--value-0-50);
    margin-bottom: var(--value-0-5);
  }

  h3 {
    font-size: var(--value-0-87);
  }

  a {
    text-decoration: none;
  }

  /* Aside
  ---------*/

  .aside {
    grid-row-start: 1;
    grid-row-end: -1;
    grid-column-start: 1;
    grid-column-end: 2;
    background: var(--primary-color);
    padding-left: var(--value-1);
    padding-right: var(--value-1);
    border-top-left-radius: var(--value-0-50);
  }

  .aside h2 {
    border-bottom: 0.1rem solid var(--aside-text-color);
  }
  .contact-links {
    margin-top: 2rem;
  }

  .strategies-text {
    margin-top: var(--value-0-50);
  }

  .aside ul {
    margin-left: 0.75rem;
  }

  .aside-links-icons {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    display: flex;
    flex-wrap: wrap;
  }

  .aside h3 {
    font-size: var(--value-0-85);
  }

  .aside article {
    padding-top: 0.15rem;
    margin-bottom: 0.15rem;
  }

  .tools-span {
    font-size: var(--value-0-85);
  }

  .aside span {
    font-size: var(--value-0-85);
  }

  .aside a {
    text-decoration: underline;
    padding: 0.1rem;
  }

  .aside-links-icons {
    display: grid;
    gap: 0.25rem;
  }
  .aside-links-icons a {
    text-decoration: none;
    display: flex;
    gap: 0.5rem;
  }

  .aside h2,
  .aside h3,
  .aside a,
  .aside span,
  .aside i,
  .aside li {
    color: var(--aside-text-color);
  }

  /* Header 
  ----------*/

  .header {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: -1;
    padding-left: var(--value-1);
    padding-top: var(--value-1);
  }

  .header h1 {
    font-size: var(--value-1-75);
    font-weight: lighter;
    padding: 0;
    margin-bottom: var(--value-0-50);
  }

  .header-span-firstname {
    color: var(--primary-color);
  }

  .header-span-title {
    padding-bottom: 5px;
    border-bottom: 0.1rem solid var(--primary-color);
  }

  .header h2 {
    color: #000;
    font-size: var(--value-1-25);
    font-weight: lighter;
    padding-bottom: var(--value-0-50);
    margin: 0;
    border: none;
  }

  /* Main 
  --------*/

  .date-info {
    font-weight: lighter;
    font-size: var(--value-0-70);
    font-style: italic;
    display: inline-block;
    margin-bottom: var(--value-0-25);
    border-bottom: 0.1rem solid var(--main-text-color);
  }

  .main {
    grid-row-start: 2;
    grid-row-end: -1;
    grid-column-start: 2;
    grid-column-end: -1;
    padding: var(--value-0-75);
  }

  h2 {
    border-bottom: 0.1rem solid var(--primary-color);
  }

  .resume-text {
    text-align: justify;
  }

  .projects-ul,
  .education-ul,
  .experiences-ul {
    padding-left: 1rem;
    color: var(--primary-color);
  }

  .projects-ul article,
  .education-ul article,
  .experiences-ul article {
    color: var(--main-text-color);
  }

  .main li {
    margin-top: 0.45rem;
    margin-bottom: 0.45rem;
  }

  .main h3 {
    margin-bottom: 0.25rem;
  }
  .main a {
    text-decoration: none;
    background-color: rgba(231, 231, 231, 0.555);
    color: var(--main-text-color);
    cursor: pointer;
  }

  .main a:hover {
    background-color: rgba(231, 231, 231, 0.87);
  }
  .projects-inner-span::before,
  .education-inner-span::before {
    content: " \25B4";
    color: var(--primary-color);
  }

  /* Final note */
  .final-note {
    display: flex;
    font-size: 0.65rem;
    justify-content: center;
    text-align: center;
    background-color: var(--primary-color);
    border-bottom-left-radius: var(--value-0-50);
  }
}
