@media only print {
  @page {
    size: A4 portrait;
    margin: 0;
    padding: 0;
  }

  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    --primary-background: #e2f0e3;
    --primary-font-color: #ce9700;
    --secondary-font-color: #b68500;
    --thin-border-gray: 0.063rem solid rgb(211, 211, 211);
    --thin-border-green: 0.063rem solid #015f63;
    --box-shadow-light: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.2),
      0 0.375rem 1.25rem 0 rgba(0, 0, 0, 0.19);
    --color-white: #fff;
    --color-black: #000;
    --value-0: 0;
    --value-0-25: 0.156rem;
    --value-0-5: 0.313rem;
    --value-0-75: 0.469rem;
    --value-1: 0.625rem;
    --value-1-25: 0.781rem;
    --value-1-3: 0.813rem;
    --value-1-4: 0.875rem;
    --value-1-5: 0.938rem;
    --value-1-6: 1rem;
    --value-1-75: 1.094rem;
    --value-2: 1.25rem;
    --value-2-25: 1.406rem;
    --value-2-5: 1.563rem;
    --value-2-75: 1.719rem;
    --value-3: 1.875rem;
    --value-5: 3.125rem;
    --header-height: 10rem;
  }

  html {
    font-size: 62.5%;
    font-family: "Open sans", Arial, sans-serif;
  }

  body {
    max-width: 210mm;
    max-height: 297mm;
    width: 210mm;
    height: 297mm;
    border: var(--thin-border-gray);
    border-radius: var(--value-0-5);
  }

  /* from width 525px + 1024px */

  .header {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    margin: var(--value-0);
    box-shadow: none;
    height: var(--header-height);
    border: none;
    background-image: none;
    border-radius: 0;
  }

  .header-titles {
    grid-row: 1 / 2;
    grid-column: 2/-1;
    background-color: var(--color-white);
    border-radius: 0;
    border: none;
    padding-bottom: var(--value-0);
    margin-left: var(--value-1-5);
  }

  .header-titles h2 {
    width: 50%;
    text-shadow: none;
    color: var(--color-black);
  }

  .header-links-icons {
    grid-row: 2 / -1;
    grid-column: 2/-1;
    border-radius: 0;
    background-color: var(--color-white);
    border: none;
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    padding: var(--value-1);
  }

  .header-links-icons a {
    margin-left: var(--value-1);
    margin-bottom: var(--value-0-75);
    font-size: var(--value-1-3);
  }

  .header-image {
    background-color: var(--primary-background);
    grid-row: 1 / -1;
    grid-column: 1 / 2;
  }

  .header-image-portrait {
    width: 7.5rem;
    box-shadow: none;
  }

  main {
    display: grid;
    grid-template-rows: repeat(22, calc((297mm - var(--header-height)) / 22));
    grid-template-columns: repeat(12, 1fr);
  }

  .strategies,
  .resume,
  .strengths,
  .skills,
  .experiences,
  .education-large,
  .other-skills {
    margin: var(--value-0);
    padding: var(--value-0);
    box-shadow: none;
    border: none;
  }

  .education-large {
    display: block;
    margin-top: -0.313rem;
    border-radius: var(--value-0);
    grid-row: 11 / -1;
    grid-column: 5 / -1;
  }

  .strategies,
  .strengths,
  .skills,
  .other-skills {
    border-radius: var(--value-0);
    background-color: var(--primary-background);
  }

  .strategies {
    grid-column: 1/5;
    grid-row: 1/ 4;
  }

  .resume {
    grid-column: 5/-1;
    grid-row: 1/ 3;
  }

  .strengths {
    grid-row: 4/7;
    grid-column: 1/5;
  }

  .skills {
    grid-row: 7/18;
    grid-column: 1/5;
  }

  .experiences {
    grid-row: 4/7;
    grid-column: 5 / 13;
    border-radius: var(--value-0);
  }

  .other-skills {
    grid-row: 18/-1;
    grid-column: 1/5;
  }

  .strategies-text,
  .resume-text,
  .strengths-li i,
  .strengths-span,
  .skills-span,
  .experiences-paragraph,
  .education-paragraph,
  .education-inner-span,
  .skills-h3 {
    font-size: var(--value-1-3);
  }

  .resume-title,
  .strengths-title,
  .skills-title,
  .strategies-title {
    margin: var(--value-1);
    font-size: var(--value-1-5);
  }

  .strengths-ul {
    margin: var(--value-1);
    padding: var(--value-0);
  }

  .strengths-li {
    margin-bottom: var(--value-0-5);
  }

  .skills-ul {
    margin: var(--value-1);
  }

  .skills-li {
    margin-bottom: var(--value-0-5);
  }
  .skills-h3 {
    margin-bottom: var(--value-0);
    font-weight: 600;
  }

  .experiences-title,
  .education-title {
    margin: 0.625rem 0.625rem 0rem;
    font-size: var(--value-1-5);
  }

  .experiences-ul,
  .education-ul {
    margin: var(--value-0);
    margin-left: var(--value-1);
  }

  .experiences-li {
    margin-bottom: var(--value-0-5);
  }

  .experiences-span-date-info,
  .education-span-date-info {
    font-size: var(--value-1);
    margin-bottom: var(--value-0-25);
  }

  .experiences-h3,
  .education-article-h3 {
    font-size: var(--value-1-4);
    margin-bottom: var(--value-0);
  }

  .education {
    display: none;
  }

  .education-li {
    margin-bottom: var(--value-0);
  }

  .education-inner-ul li {
    margin: var(--value-0);
  }

  .education-inner-span::before {
    content: " \25B4";
    color: grey;
  }

  .other-skills-title {
    font-size: var(--value-1-5);
    margin: var(--value-1);
  }

  .other-skills-ul {
    margin: var(--value-1);
  }

  .other-skills-li {
    margin-bottom: var(--value-0-25);
  }

  .other-skills-h3 {
    font-size: var(--value-1-4);
    margin: var(--value-0);
  }

  .other-skills-span,
  footer {
    display: none;
  }
}
